<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Yummie Katalog adalah platform pencarian restoran makanan yang sederhana dan mudah digunakan. Cari inspirasi untuk tempat makan Anda berikutnya dengan mudah menggunakan kata kunci yang Anda inginkan. Yummie Katalog didukung oleh teknologi modern untuk memberikan pengalaman pencarian yang cepat dan menyenangkan." />
    <title>Yummie Katalog</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand fs-2 ms-5 text-light" href="#"
            ><strong>Yummie Katalog</strong></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">
                <strong>Yummie</strong>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a
                    class="nav-link active text-light"
                    aria-current="page"
                    href="#"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" href="#">Favorite</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-light"
                    target="_blank"
                    href="https://github.com/agungtrisutaji"
                    >About Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section
        class="p-5 hero-element text-center bg-image rounded-3 mt-2"
        style="
          background-image: url('./images/heros/hero-image_4.jpg');
          height: 400px;
          background-size: cover;
          background-position: center;
        ">
        <div
          class="mask rounded-3"
          style="background-color: rgba(0, 0, 0, 0.6)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1><strong>Yummie</strong></h1>
              <h4 class="mb-3">Katalog Restoran</h4>
            </div>
          </div>
        </div>
      </section>

      <hr />

      <section class="container mt-5" id="maincontent">
        <div class="container">
          <h2>Katalog Restoran</h2>
          <div class="container-fluid">
            <input
              id="search-input"
              type="text"
              placeholder="Cari Restoran..."
              class="search-input" />
          </div>
        </div>
        <div class="list-resto row"></div>
      </section>
    </main>

    <footer>
      <div class="container-fluid mt-5 p-2 footer">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <p>&copy; 2024 Yummie. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
