<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Yummie Katalog adalah platform pencarian restoran makanan yang sederhana dan mudah digunakan. Cari inspirasi untuk tempat makan Anda berikutnya dengan mudah menggunakan kata kunci yang Anda inginkan. Yummie Katalog didukung oleh teknologi modern untuk memberikan pengalaman pencarian yang cepat dan menyenangkan." />
    <link rel="icon" href="./favicon.png" />
    <title>Yummie Catalogue</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Yummie Catalogue</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favourite">Favorite</a></li>
          <li>
            <a target="_blank" href="https://github.com/agungtrisutaji"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section
        id="jumbotron"
        class="p-5 hero-element text-center bg-image rounded-3 mt-2"
        style="
          background-image: url('./images/hero-image_4.jpg');
          height: 400px;
          background-size: cover;
          background-position: center;
        ">
        <div
          class="mask rounded-3"
          style="background-color: rgba(0, 0, 0, 0.6)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1><strong>Yummie</strong></h1>
              <h4 class="mb-3">Katalog Restoran</h4>
            </div>
          </div>
        </div>
      </section>

      <hr />

      <section class="container mt-5" id="mainContent">
        <div class="container">
          <h2>Katalog Restoran</h2>
          <div class="container-fluid">
            <input
              id="search-input"
              type="text"
              placeholder="Cari Restoran..."
              class="search-input" />
          </div>
        </div>
        <list-resto class="row"></list-resto>
        <div class="list-resto row"></div>
      </section>
    </main>

    <footer>
      <div class="container-fluid mt-5 p-2 footer">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <p>&copy; 2024 Yummie. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
