<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="
      Yummie Catalog is a user-friendly restaurant search platform that helps you discover the best dining spots quickly and effortlessly. With a comprehensive restaurant catalog, customer reviews, and favorite feature, find unforgettable culinary experiences with ease!" />
      <meta name="theme-color" content="#435334"/>
    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <title>Yummie Catalogue</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Yummie Catalogue</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favourite">Favorite</a></li>
          <li>
            <a target="_blank" href="https://github.com/agungtrisutaji"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section
        id="jumbotron"
        class="p-5 hero-element text-center bg-image rounded-3 mt-2"
        style="
          background-image: url('./images/hero-image_4.jpg');
          height: 400px;
          background-size: cover;
          background-position: center;
        ">
        <div
          class="mask rounded-3"
          style="background-color: rgba(0, 0, 0, 0.6)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1><strong>Yummie Catalogue</strong></h1>
              <h4 class="mb-3">is a user-friendly restaurant search platform that helps you discover the best dining spots quickly and effortlessly. With a comprehensive restaurant catalog, customer reviews, and favorite feature, find unforgettable culinary experiences with ease!</h4>
            </div>
          </div>
        </div>
      </section>

      <hr />

      <section class="container mt-5" id="mainContent">
    </main>

    <footer>
      <div class="container-fluid mt-5 p-2 footer">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <p>&copy; 2024 Yummie. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
